<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body blue-light text-white font-table-header"> 
                    <div class="row">
                        <div class="col-sm-12 col-md-3 col-lg-3">
                            <h5 class="card-title m-b-0">Manage Sales</h5>
                        </div>
                        <div class="col-sm-12 col-md-9 col-lg-9">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 col-md-3 col-lg-4"></div>
                                    <div class="col-sm-12 col-md-3 col-lg-2 fixed-column">
                                        <button class="btn btn-primary fixed-button" (click)="onOpenNewSaleModal()">ADD NEW</button>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6 fixed-column">
                                        <input 
                                        type="text"
                                        class="form-control"
                                        placeholder="Search by name"
                                        (input)="searchByName($event)"
                                        >
                                    </div>
                                </div>     
                            </div>    
                        </div>
                    </div>            
                </div>   
            </div>
            <div class="table-responsive">
                <table cellspacing="0"
                class="table 
                table-striped 
                table-bordered
                table-hover
                fixed-table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" (click)="onSortDataByNumber('id_sale')">#</th>
                            <th scope="col" (click)="onSortDataByNumber('id_book')">Book</th>
                            <th scope="col" (click)="onSortDataByNumber('id_employee')">Employee</th>
                            <th scope="col" (click)="onSortDataByNumber('id_client')">Client</th>
                            <th scope="col" (click)="onSortDataByString('date')">Date</th>
                            <th scope="col" class="col-3 col-sm-3 col-md-3 col-lg-2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr 
                        *ngFor="let sale of sales | slice: (page-1) * pageSize : page * pageSize">
                            <td class="fixed-id-column"><strong>{{ sale.id_sale }}</strong></td>
                            <td class="fixed-id-column">{{ sale.id_book }}</td>
                            <td class="fixed-id-column">{{ sale.id_employee }}</td>
                            <td class="fixed-id-column">{{ sale.id_client }}</td>
                            <td class="fixed-id-column">{{ sale.date }}</td>
                            <td>
                              <button class="btn bg-transparent" (click)="onEdit(sale.id_sale)"><i class="bi bi-pencil-square"></i></button>
                              <button class="btn bg-transparent" (click)="onDelete(sale.id_sale)"><i class="bi bi-trash-fill"></i></button>
                            </td>
                        </tr>                   
                    </tbody>
                </table>
                <div class="d-flex justify-content-between p-2">
                    <ngb-pagination
                      class="d-flex justify-content-center"
                      [(page)]="page"
                      [pageSize]="pageSize"
                      [collectionSize]="sales.length">
                    </ngb-pagination>
                    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
                      <option [ngValue]="5" selected>5 items per page</option>
                      <option [ngValue]="10">10 items per page</option>
                      <option [ngValue]="15">15 items per page</option>
                    </select>
                  </div>    
            </div>
        </div>
    </div>
</div>

