<div class="modal-header blue-light text-white">
    <div class="container">
      <h4 class="modal-title w-100 font-table-header">New Book</h4>
    </div>
    <button type="button" class="close text-white topright" aria-label="Close"
            (click)="activeModal.dismiss('Cross click')">x
    </button>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="onSubmitForm()">
    <div class="modal-body">
      <div class="container">
        <div class="form-group">
          <label>Name</label>
          <input type="text" 
            class="form-control"
            formControlName="name"
            [ngModel]="book.name"/>
            <div *ngIf="name.invalid && name.errors &&
                        (name.dirty || name.touched)">
                <small class="text-danger" *ngIf="name.hasError('required')">
                    Name is required.
                </small>
                <small class="text-danger" *ngIf="name.hasError('minlength')">
                    The minimum length for this field is {{ name.errors.minlength.requiredLength }} characters
                </small>
            </div>
        </div>
        <div class="form-group">
          <label>Description</label>
          <input type="text" 
          class="form-control"
          formControlName="description" 
          [ngModel]="book.description"/>
          <div *ngIf="description.invalid && description.errors &&
                        (description.dirty || description.touched)">
                <small class="text-danger" *ngIf="description.hasError('required')">
                    Description is required.
                </small>
                <small class="text-danger" *ngIf="description.hasError('minlength') || description.hasError('maxlength')">
                    15 characters are required for this field
                </small>
            </div>
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="number" 
            class="form-control"
            formControlName="price"
            [ngModel]="book.price"/>
            <div *ngIf="price.invalid && price.errors &&
                        (price.dirty || price.touched)">
                <small class="text-danger" *ngIf="price.hasError('required')">
                    Price is required
                </small>
                <small class="text-danger" *ngIf="price.hasError('min') || price.hasError('max')">
                  The minimum price must be $50 and max $1000
                </small>
            </div>
        </div>
        <div class="form-group">
            <label>Stock</label>
            <input type="number"
            class="form-control"
            formControlName="stock"
            [ngModel]="book.stock"/>
            <div *ngIf="stock.invalid && stock.errors &&
                        (stock.dirty || stock.touched)">
                <small class="text-danger" *ngIf="stock.hasError('required')">
                    Stock is required
                </small>
                <small class="text-danger" *ngIf="stock.hasError('min')  || stock.hasError('max')">
                  The minimum price must be $50 and max $1000
                </small>
            </div>
        </div>  
        <div class="form-group">
            <label>Author</label>
            <input type="number"
            class="form-control"
            formControlName="id_author"
            [ngModel]="book.id_author"/>
            <div *ngIf="id_author.invalid && id_author.errors &&
                        (id_author.dirty || id_author.touched)">
                <small class="text-danger" *ngIf="id_author.hasError('required')">
                    Author is required
                </small>         
            </div>
        </div>      
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success"
        [disabled]="!myForm.valid">
        Update
      </button>
    </div>
  </form>
